In [4]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import calendar

import data

# Pandas options
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Custom Colors
MAGENTA = "#6C3483"
GREEN = "#239B56"
BLUE = "#5DADE2"
YELLOW = "#ffb031"

In [5]:
dataframe = pd.read_csv("data/database.csv", low_memory=False)
dataframe.head()

,departure,return,departure_id,departure_name,return_id,return_name,distance (m),duration (sec.),avg_speed (km/h),departure_coordinates,return_coordinates,Air temperature (degC)
0,2020-03-23 06:09:44,2020-03-23 06:16:26,86,Kuusitie,111.0,Esterinportti,1747.000,401.000,0.261,"(60.1952452, 24.9018997)","(60.1975724, 24.9267808)",0.900
1,2020-03-23 06:11:58,2020-03-23 06:26:31,26,Kamppi (M),10.0,Kasarmitori,1447.000,869.000,0.100,"(60.1686095, 24.9305373)","(60.1650171805, 24.94947287873)",0.900
2,2020-03-23 06:16:29,2020-03-23 06:24:23,268,Porolahden koulu,254.0,Agnetankuja,1772.000,469.000,0.227,"(60.19553971683871, 25.053580944057305)","(60.187234122757424, 25.036412289626025)",0.900
3,2020-03-23 06:33:53,2020-03-23 07:14:03,751,Vallipolku,106.0,Korppaanmäentie,7456.000,2406.000,0.186,"(60.227827, 24.819614)","(60.2034735, 24.8989297)",0.900
4,2020-03-23 06:36:09,2020-03-23 07:04:10,62,Messitytönkatu,121.0,Vilhonvuorenkatu,7120.000,1679.000,0.254,NaN,"(60.1864633, 24.9678718)",0.900